<!--{subtemplate email/header}-->
<body>{lang add_member_subject}<br />
{$var['newusername']}{lang comma}{lang show_sender}<br />
<br />
{lang add_member_intro}<br />
{lang show_reason}{lang add_member_reason}<br />
<br />
----------------------------------------------------------------------<br />
{lang important}<br />
----------------------------------------------------------------------<br />
<br />
{lang add_member_no_interest}{lang ignore_email}<br />
<br />
----------------------------------------------------------------------<br />
{lang add_member_info}<br />
----------------------------------------------------------------------<br />
<br />
{lang add_member_bbname}{$var['bbname']}<br />
{lang add_member_siteurl}{$var['siteurl']}<br />
<br />
{lang add_member_newusername}{$var['newusername']}<br />
{lang add_member_newpassword}{$var['newpassword']}<br />
<br />
{lang add_member_can_login}<br />
<br />
<br />
<br />
{lang sincerely}<br />
<br />
{lang admin_team}.<br />
{$var['siteurl']}
</body>
</html>