<!--{subtemplate email/header}-->
<body>{lang email_to_invite_subject}<br />
{$var['sendtoname']}{lang comma}<br />
{lang email_to_friend_sender}<br />
<br />
{lang show_reason}{lang email_to_invite_reason}<br />
{lang not_interested}{lang ignore_email}{lang no_more_action}<br />
<br />
----------------------------------------------------------------------<br />
{lang msg_start}<br />
----------------------------------------------------------------------<br />
<br />
{$var['message']}<br />
<br />
----------------------------------------------------------------------<br />
{lang msg_end}<br />
----------------------------------------------------------------------<br />
<br />
{lang email_to_invite_not_official}<br />
{lang not_responsible}<br />
<br />
{lang welcome_visit}<br />
{$_G[\'siteurl\']}
</body>
</html>