<!--{subtemplate email/header}-->
<body>{lang moderate_member_subject}<br />
<p>{$var['username']}{lang comma}{lang show_sender}</p>

<p>{lang show_reason}{lang moderate_member_reason}</p>
<br />
----------------------------------------------------------------------<br />
<strong>{lang moderate_member_info}</strong><br />
----------------------------------------------------------------------<br />
<br />
{lang moderate_member_username}{$var['username']}<br />
{lang moderate_member_regdate}{$var['regdate']}<br />
{lang moderate_member_submitdate}{$var['submitdate']}<br />
{lang moderate_member_submittimes}{$var['submittimes']}<br />
{lang moderate_member_msg}{$var['message']}<br />
<br />
{lang moderate_member_modresult}{$var['modresult']}<br />
{lang moderate_member_moddate}{$var['moddate']}<br />
{lang moderate_member_adminusername}{$var['adminusername']}<br />
{lang moderate_member_remark}{$var['remark']}<br />
<br />
----------------------------------------------------------------------<br />
<strong>{lang moderate_member_explain}</strong><br />
----------------------------------------------------------------------<br />

<p>{lang moderate_member_explain1}</p>

<p>{lang moderate_member_explain2}</p>

<p>{lang moderate_member_explain3}</p>

<br />
<br />
{lang sincerely}<br />
<br />
{lang admin_team}.<br />
{$var['siteurl']}
</body>
</html>