<!--{subtemplate email/header}-->
<body>
	{lang secmobile_reset_subject}
	<br />
	<p>{$var['username']}{lang comma}{lang show_sender}</p>
	<p>{lang show_reason}{lang secmobile_reset_reason}</p>
	<p>----------------------------------------------------------------------<br />
	<strong>{lang important}</strong>
	<br />----------------------------------------------------------------------</p>
	<p>{lang secmobile_reset_if_not}</p>
	<p>----------------------------------------------------------------------<br />
	<strong>{lang secmobile_reset_subject}</strong>
	<br />----------------------------------------------------------------------</p>
	<p><strong>{lang secmobile_reset_explain}</strong></p>
	<p><strong>{lang secmobile_reset_new_secmobile}</strong></p>
	<p>{lang secmobile_reset_if_not_user_op}</p>
	<p>{lang secmobile_reset_if_not_user_op_help}</p>
	<p>{lang show_ip}</p>
	<p>{lang sincerely}<br /></p>
	<p>{lang admin_team}. {$var['siteurl']}</p>
</body>
</html>